/*
	jsrepo 1.24.1
	Installed from github/davidhdev/react-bits
	1-12-2025
*/

.letter {
  display: inline-block;
  will-change: transform, opacity;
}

.split-parent {
  display: inline;
  overflow: hidden;
}
